* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Monospace;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 6em;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    background: dimgrey;
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: dimgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.logo {
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.title {
    text-align: center;
    font-size: 4rem;
    color: white;
    padding: 1rem;
    margin: 2rem 0;
    position: absolute;
    top: 15%;
    left: 38%;
}

.container {
    background: linear-gradiant(#ddd, 50%, crimson 50.1%);
    min-height: 100vh;
    text-align: center;
    position: absolute;
    left: 17%;
    top: 30%;
}

.container .box-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.container .box-container .box {
    background: white;
    box-shadow: 0 10px 15px rgba(0,0,0,.1); 
}

.container .box-container .box h3 {
    font-size: 25px;
    padding: 17x 0;
    color: #444;
}

.container .box-container .box .price {
    color: white;
    background: crimson;
    font-weight: bolder;
    font-size: 50px;
}

.container .box-container .box .list p {
    padding: 10px 0;
    font-size: 17px;
    color: #666;
}

.container .box-container .box .list p i {
    padding-right: 5px;
    color: crimson;
}

.container .box-container .box .btn {
    margin: 20px;
    display: block;
    font-size: 17px;
    background: #444;
    color: white;
    padding: 10px;
    padding-bottom: 10px;
}

footer {
    background-color: transparent;
}

.footercontainer {
    width: 100%;
    padding: 70px 30px 20px;
    position: absolute;
    left: 0;
    bottom: 100;
}

.socialicons {
    display: flex;
    justify-content: center;
}

.socialicons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialicons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialicons a:hover {
    background: #111;
    transition: 0.5s;
}

.socialicons a:hover i {
    color: white;
    transition: 0.5s;
}

.footernav {
    margin: 30px 0;
}

.footernav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footernav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footernav ul li a:hover {
    opacity: 1;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px){
    .footernav ul {
        flex-direction: column;
    }
    .footernav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}